
@charset "UTF-8";

body{
	background-color: white;
	color: rgba(0,0,0,1);
	
}
p{
	text-align: justify;
	text-indent: 50px;
	
}
nav#menu{
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
    position: absolute;
    top:0px;
    left: 350px; 	

}
nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 8px;
	margin: 2px;
}
nav#menu h1{
	display: none;
}

.conteudo{
	display: table;
}
.texto{
	display:table-cell;
	float:left;
	width: 980px;
	margin-left:20px;
	margin-top:-40px
}
.imagem{
	display:table-cell;
	float:left;
}


